table.lamp {
	background-color: #555555;
	cursor: crosshair;
}

table.lamp tbody tr:nth-child(even){
	background-color: transparent;
}

table.lamp td {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

table.lamp.large {
	border-spacing: 10px;
}

table.lamp.large td {
	padding: 0;
	width: 40px;
	height: 40px;
}

table.lamp.medium {
	border-spacing: 5px;
}

table.lamp.medium td{
	padding: 0;
	width: 30px;
	height: 30px;
}

table.lamp tr.selected{
	outline: 2px solid #FF0000;
}

.lamp div{
	height: 100%;
	width: 100%;
	-webkit-border-radius: 1000px;
	-moz-border-radius: 1000px;
	-ms-border-radius: 1000px;
	-o-border-radius: 1000px;
	border-radius: 1000px;
	border: 1px solid #CCCCCC;
}