.lamp {
	background-color: #555555;
	cursor: crosshair;
	width: 400px;
}

.lamp.large>div.row {
	margin-left: 0px;
}

.lamp>div>div {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	float: left;
}

.lamp.large>div>div{
	padding: 0;
	width: 40px;
	height: 40px;
}

.lamp.medium {
	border-spacing: 5px;
}

.lamp.medium td{
	padding: 0;
	width: 30px;
	height: 30px;
}

.lamp tr.selected{
	outline: 2px solid #FF0000;
}

.lamp div.individualLamp div{
	height: 100%;
	width: 100%;
	-webkit-border-radius: 1000px;
	-moz-border-radius: 1000px;
	-ms-border-radius: 1000px;
	-o-border-radius: 1000px;
	border-radius: 1000px;
	border: 1px solid #CCCCCC;
}